.container {
  position: absolute;
  background: rgba(255, 255, 255, 0.591);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}
.panel {
  background-color: white;
  border-radius: inherit;
  padding: 10px;
  position: absolute;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  box-shadow: -74px 0px 121px -31px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: -74px 0px 121px -31px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -74px 0px 121px -31px rgba(0, 0, 0, 0.24);
}
.titleContainer {
  display: flex;
  align-items: center;
}
.backButton {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background: none;
  font-size: 25px;
  border-radius: 50%;
}
.backButton:hover {
  background-color: var(--background-mid-hover);
}
.titleContainer h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px;
  font-style: italic;
}
.contentContainer {
  flex: 1;
  max-height: 100%;
  overflow-y: hidden;
}
.panelOpen {
  animation-name: panelMoveForward;
}
.panelClose {
  animation-name: panelMoveBackward;
}

@keyframes panelMoveForward {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes panelMoveBackward {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
