:root {
  --primary-font: #d50066;
  --primary-disabled: #fdeaf1;
  --primary-disabled-hover: #fcdce8;
  --background-soft: #f7f8fa;
  --background-mid: #edeef2;
  --background-mid-hover: #ced0d9;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7e0;
}
