:root {
  --primary-font: #d50066;
  --primary-disabled: #fdeaf1;
  --primary-disabled-hover: #fcdce8;
  --background-primary: rgb(232, 0, 111);
  --background-primary-hover: rgb(207, 0, 99);
  --background-soft: #f7f8fa;
  --background-mid: #edeef2;
  --background-mid-hover: #ced0d9;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7e0;
}

.swapContainer {
  padding: 10px;
  min-width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px -1px 400px -31px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 1px -1px 400px -31px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px -1px 400px -31px rgba(0, 0, 0, 0.24);
}
